.browser-window {
    background-color: #e2e2e2;
    margin-top: 12rem;
    height: 90vh;
    border: #7982a9 2px solid;
    display: flex;
    flex-direction: column;
}

.browser-top-bar {
    background-color: #97beff;
    width: 100%;
    height: 2rem;
    flex-grow: 0;
}

.browser-header {
    color: black;
    background-color: white;
    margin-top: 0px;
    width: 50%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    flex-grow: 0;
}

.browser-tab-bar {
    margin-top: 0px;
    background-color: white;
    flex-grow: 0;
}

.link-container {
    flex-grow: 1;
}
