.profilePic {
    /* width: 10rem; */
    width: 20vh;
    border-radius: 100%;
}

.name {
    font-size: 2.8rem;
    margin-top: 0.5rem;
}

.name .lee {
    color: #f48d54;
}

.name .who {
    color: #9ece6a;
}

.name .codes {
    color: #f45d5d;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 61vh;
    align-items: center;
}