.window {
    display: flex;
    flex-direction: column;
    background-color: #24283b;
    margin-top: 12rem;
    height: 90vh;
}

/* .terminal {
    background-color: #141723;
    margin-top: auto;
    flex-grow: 1;
} */
